.AboutUsBlackSection {
    background: #111;
    margin-bottom: 50PX;
    padding: 14px 7%;  
    color: white;   
}
.AboutUsBlackSection h2{
    font-style: Arial;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;    
} 
@media (max-width: 1100px) {
    .AboutUsBlackSection h2,
    .homeButton {
      margin-left: 20px;
    }
}
.homeButton{
    text-decoration: none;
    color: lightgrey;
    cursor:pointer
}
.homeButton:hover {
    color: white;
}
.Container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.aboutUsImage{
    box-shadow: 0 0 30px rgb(224, 58, 60);
    max-width: 40%;
    height: auto;
    border-radius: 8px;      
}
.InfoContainer{
    flex: 1;
}
.InfoContainer h1{
    text-align: center;
    font-weight: bold;
}
.InfoContainer p {
    text-align: justify;
    text-justify: inter-word;
    
    font-style: Arial;
    line-height: 1.6;
}  
.stats {
    margin-top: 10%;
    background: #111;
    margin-bottom: 100px;
    padding: 60px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;  
    transform: skewY(-3deg); 
    max-width: 100%;   
}

@media (max-width: 430px) {
    .stats {
         
        justify-content: center;  
        padding: 40px 20px;       
        gap: 20px;               
    }

    .stats > div {
        flex: 1 1 100%;          
        text-align: center;
    }
}
.statbox .icon {
    background: #fff;
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;  
    transform: skewY(+3deg); 
      
}
.icon img {
    width: 40px;   
    height: 40px;
    object-fit: contain;
    justify-content: center;  
    align-content: center;  
    transform: skewY(+3deg); 

}
.statbox h2 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    transform: skewY(+3deg); 

}
.statbox p {
    font-size: 30px;
    color: #e63946;
    margin: 10px 0 0;
    font-weight: bold;
    text-align: center;
    transform: skewY(+3deg); 

}

