body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #eef2f3;    
}
.header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: white; 
    width: 100%;
    padding: 25px 0px;
    box-sizing: border-box;
    position: relative;  
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-height: 50px;
}
.FrontlineLogo{
    height: 95px;         
    width: auto;
    object-fit: contain;   
    cursor: pointer;
    margin-left: 90px;

}
.header-right{
    display: flex;
    align-items: center;
    gap: 15px;  
}
.header-right a{
    color: black;
    cursor: pointer;
}
.header-right a:hover {
    color :  #ff6600;
}
.nav-links{
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: #111;
}

@media (max-width: 900px){
  .nav-links {
    display: none;
  }  
}  
.nav-links a{
    text-decoration: none; 
} 
.nav-links:hover {
    color: #cc5200;
}
.job-button {
    display: block;
    padding: 12px 20px;
    border-radius: 6px;
    background: #e74c3c;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 20px;
    width: 100%;       
    max-width: 220px;       
    box-sizing: border-box; 
}
.job-button:hover{
    background: #d63c32;
}
@media (max-width: 600px) {
  .job-button {
    width: 100%;
  }
}
.blink-text{ 
    animation: blink 1s infinite; 
} 
@keyframes blink{
  0%, 75%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.hamburger{
    font-size: 28px;
    cursor: pointer;
    display: block;
    color: #333;
    margin-right: 20px;
    margin-left: auto;
    text-decoration: none;
}
@media (max-width: 768px) {
    .FrontlineLogo {
      margin-left: 20px;
      height: 70px;
    } 
    .header {
      padding: 15px 10px;
    }  
    .hamburger {
      margin-right: 10px;
    }
  } 
  @media (min-width: 901px) {
    .hamburger {
      display: none;
    }
  }
a.hamburger{ 
    text-decoration: none; 
    margin-right: auto;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9); 
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}
.popup {
    background: white;
    padding: 30px;
    width: 85%;
    height: 80%;
    max-width: 900px;
    position: relative; 
    cursor: pointer;  
}
.popup a {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #111;
}
.popup a:hover {
    color: red;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-bottom: 10%;
    background: none;
    border: none;
    font-size: 1.9rem;
    cursor: pointer;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2100;
}
