.ServicesBlackSection {
  background: #111;
  margin-bottom: 50PX;
  padding: 14px 7%;  
  color: white;     
}
.ServicesBlackSection h2{
  font-style: Arial;
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px; 
}
@media (max-width: 1100px) {
  .ServicesBlackSection h2,
  .homeButton {
    margin-left: 20px;
  }
}
.homeButton{
  text-decoration: none;
  color: lightgrey;
  cursor:pointer
}
.homeButton:hover {
  color: white;
}
.serviceIntro h2{
  text-align: center;
  font-size: 1.8rem;   
}
.serviceIntro p{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1.rem; 
  margin-bottom: 150px;
}
.black-section1{
  background: #111;
  margin-bottom: 100px;
  padding: 40px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;  
  transform: skewY(-3deg); 
  max-width: 100%;
}
.servicesSection h2{
  text-align: center;
  font-size: 1.9rem;
  transform: skewY(+3deg);  
}
.servicesSection p{
  text-align: center;
  transform: skewY(+3deg);
}
.leftText {
  display: grid;
  gap: 40px;
  margin-top: 40px; 
  flex: 1;
  transform: skewY(+3deg);     
}
.leftText div{
  background: #1a1a1a;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(60px);
  transition: transform 0.5s ease, opacity 0.5s ease; 
}
.leftText div.show {
opacity: 1;
transform: translateY(0);
animation: fadeInUp 0.8s ease forwards;
}
.leftText div:hover{
transform: translateY(+5px);
}
.leftText h2{
  font-size: 1.4rem;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 40px;
  color: white;
  transform: skewY(0deg);
}
.leftText p{
  color: #ddd;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 10px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 25px;
  transform: skewY(0deg);
}
.leftText div:nth-child(1){
transition-delay: 0.2s;
}
.leftText div:nth-child(2){
transition-delay: 0.6s;
}
.leftText div:nth-child(3){
transition-delay: 1.0s;
}
.leftText div:nth-child(4){
transition-delay: 1.4s;
}
.leftText div:nth-child(5){
transition-delay: 1.8s;
}
.leftText div:nth-child(6){
transition-delay: 2.2s;
}

@keyframes fadeInUp {
from {
  opacity: 0;
  transform: translateY(60px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}


